@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.primary') theme('colors.gray.800');
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: theme('colors.gray.800');
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary');
  border-radius: 4px;
  border: 2px solid theme('colors.gray.800');
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.primary/90');
}